molecule==2.22.0
docker==4.2.0

# see https://github.com/ansible-community/molecule/pull/2682
sh==1.12.14
ansible>=7.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
anyconfig>=0.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
ansible-core>=2.12.0b1 # not directly required, pinned by Snyk to avoid a vulnerability
paramiko>=3.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
