---
- name: docker firewalld
  block:
  ## Use raw because of python dependency issues resulting in
  # fatal: [lab2]: FAILED! => changed=false
  #  msg: 'Python Module not found: firewalld and its python module are required for this module,
  # version 0.2.11 or newer required (0.3.9 or newer for offline operations)'
  #
  ## Should be:
  # ansible.posix.firewalld:
     #      port: 4789/udp
     #      permanent: yes
     #      state: enabled
  - name: open docker api port on 2376/tcp
    raw: firewall-cmd --zone=docker --add-port=2376/tcp --permanent
    changed_when: '"ALREADY_ENABLED" not in output.stdout'
    notify: reload firewalld

  - name: open docker Swarm management port on 2377/tcp
    raw: firewall-cmd --zone=docker --add-port=2376/tcp --permanent
    changed_when: '"ALREADY_ENABLED" not in output.stdout'
    notify: reload firewalld

  - name: open docker Swarm overlay port on 7946/tcp
    raw: firewall-cmd --zone=docker --add-port=2377/tcp --permanent
    changed_when: '"ALREADY_ENABLED" not in output.stdout'
    notify: reload firewalld

  - name: open docker Swarm overlay port on 7946/udp
    raw: firewall-cmd --add-port=7946/udp --permanent
    changed_when: '"ALREADY_ENABLED" not in output.stdout'
    notify: reload firewalld

  - name: open docker Swarm overlay port on 4789/udp
    raw: firewall-cmd --add-port=4789/udp --permanent
    changed_when: '"ALREADY_ENABLED" not in output.stdout'
    notify: reload firewalld
  when: ansible_distribution == "openSUSE Leap"

- name: Create a custom Swarm network.
  docker_network:
    name: docker_gwbridge
    driver_options:
      com.docker.network.bridge.enable_icc: "false"
      com.docker.network.bridge.enable_ip_masquerade: "true"
      com.docker.network.bridge.name: docker_gwbridge
    ipam_options:
      subnet: "{{ docker_swarm_network }}"
      gateway: "{{ docker_swarm_network | ipaddr('net') | ipaddr('1') | ipaddr('ip') }}"
  when: docker_swarm_network is defined and docker_swarm_network | ipaddr('net')